<%= image_tag 'cocktail_banner.jpg', alt:'cocktail banner', width: 350, class: 'banner' %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4">
        <!-- if photos attached -->
        <% if cocktail.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
            <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
            <% cocktail.doses.each do |dose| %>
              <p><%= "- #{dose.ingredient.name}" %></p>
            <% end %>
          </div>
        <!-- if no photos attached -->
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url('https://images.megapixl.com/4771/47713087.jpg') %>)">
            <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
            <% cocktail.doses.each do |dose| %>
              <p><%= "- #{dose.ingredient.name}" %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

