<h1>Details of <%= @cocktail.name %></h1>
<h2><%= @cocktail.name %></h2>

<ul>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose %></li>
<% end %>
</ul>

<%= link_to "Main page", cocktails_path %>
<%= link_to "Add doses", new_cocktail_dose_path(@cocktail) %>